<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js ie ie9" lang="ru-Ru" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="no-js ie ie8" lang="ru-Ru" dir="ltr"><![endif]-->
<!--[if IE 7]><html class="no-js ie ie7" lang="ru-Ru" dir="ltr"><![endif]-->
<!--[if IE 6]><html class="no-js ie ie6" lang="ru-Ru" dir="ltr"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html class="no-js no-ie"  lang="ru" dir="ltr"><!--<![endif]-->
<head>

    <!-- SEO -->
        <title>Главная - МБОУ СОШ №20</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="Добро пожаловать на официальный сайт МБОУ СОШ№ 20 г.Ставрополя" />

        <link rel="canonical" href=""> 
    <!-- / SEO  -->

    <!-- The following makes older IEs (< IE7, IE8, IE9) work with new HTML5 tags. -->
        <!--[if lte IE 8]>
            <script src="https://www.mozilla.org/media/js/libs/html5shiv.98460818858d.js"></script>
            <link rel="stylesheet" type="text/css" href="./src/tools/css/index.min.css">
        <![endif]-->

        <!--[if lt IE 9]>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
            <script type="text/javascript" src="https://developer.mozilla.org/static/build/js/selectivizr.8bb9e662e963.js" charset="utf-8"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <![endif]-->
    <!-- / -->

    <!-- Include style web-site -->
        <link rel="stylesheet" href="../style/vars.css">
        <link rel="stylesheet" href="../style/keyframes.css">
        <link rel="stylesheet" href="../style/normaline.css">
        <link rel="stylesheet" href="../style/header.css">
        <link rel="stylesheet" href="../style/wrapper.css">
        <link rel="stylesheet" href="../style/footer.css">
        <link rel="stylesheet" href="../style/media.css">
    <!-- / Include style web-site -->

    <!-- Include JS&CSS libs/framework ... -->

        <!-- FONT -->
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
            <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">     
        <!-- / FONT -->

        <!-- Font-awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" />

        <!-- Animate-->
        <link rel="s tylesheet" href="../style/vendor/animate/animate.css">

        <!-- Colorbox Core Style -->
        <link rel="stylesheet" href="../style/vendor/colorbox/colorbox.css">

        <!-- Style-Switcher -->
        <script src="../script/vendor/styleswitch/styleswitch.js"></script>

    <!-- / Include JS&CSS libs ... -->
</head>
<body>

<!-- HEADER -->
<header id="header">
    <div class="header__container s-container">
        <div class="flex">
            <div class="flex-1"></div>
            <div class="flex-2">
                <ul>
                    <li><a href="">НАПИСАТЬ ДИРЕКТОРУ</a></li>
                    <li><a href="">КОНТАКТЫ</a></li>
                    <li><a href="">О ШКОЛЕ</a></li>
                    <li class="search-li">
                        <input type="text" name="search" id="search">
                        <input type="button" id="search-bth" name="submit" value="Найти">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header__container header__container-2 b-container">
        <nav class="header__nav header__nav-block">
            <div class="block">
                <div class="header__logo">
                    <span>
                        <img src="../img/logo_20.jpg" alt="Logo">
                        <img class="lenta" src="../img/28.png" alt="lenta">
                    </span>
                </div>
                <div class="header__menu">
                    <ul>
                        <li><a href="../index.html" class="home">Главная</a></li>
                        <li><a href="">Сведения об ОО</a></li>
                        <li><a href="">ГИА</a></li>
                        <li><a href="">Ученикам</a></li>
                        <li><a href="">Родителям</a></li>
                        <li><a href="">Деятельность</a></li>
                        <li><a href="">Профсоюз</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- / HEADER -->

<!-- NAVIGATOR -->
<div id="navigator">
    <div class="navigator__container b-container">
        <a href="../index.html">Главная</a>
        <span class="nav__arrow"><i class="fas fa-angle-double-right"></i></span>
        <a href="">Неделя памяти</a>
    </div>
</div>
<!-- / NAVIGATOR -->

<!-- BASE CONTENT -->
<main id="wrapper">
    <div class="wrapper__container b-container">
        <aside class="aside">
            <div class="aside__block-1 aside__block">
                <h1>Все разделы</h1>
                <div class="aside__block-1-content aside__block-content">
                    <ul>
                        <li><a href="../index.html">Главная</a></li>
                        <li><a href="">Сведения об ООО</a></li>
                        <li><a href="">ГИА</a></li>
                        <li><a href="">Ученикам</a></li>
                        <li><a href="">Родителям</a></li>
                        <li><a href="">Питание</a></li>
                        <li><a href="">Мероприятия</a></li>
                        <li><a href="">Галерея</a></li>
                        <li><a href="">Деятельность</a></li>
                        <li><a href="">Аверс</a></li>
                        <li><a href="">Культура</a></li>
                        <li><a href="">COVID-19</a></li>
                        <li><a href="">Дорожная безопасность</a></li>
                        <li><a href="">Обучение детей-инвалидов</a></li>
                        <li><a href="">Профсоюз</a></li>
                        <li><a href="">Информатизация</a></li>
                        <li><a href="">Организация ОО в период пандемии</a></li>
                        <li><a href="" style="border:0">Профильное обучение</a></li>
                    </ul>
                </div>
            </div>
            <div class="aside__block-2 aside__block">
                <h1>Экзамены</h1>
                <div class="aside__block-2-content aside__block-content">
                    <ul>
                        <li><a href="">ОГЭ</a></li>
                        <li><a href="">ЕГЭ</a></li>
                        <li><a href="">Экзаменационные плакаты</a></li>
                        <li><a href="">Телефон горячей линии</a></li>
                        <li><a href="" style="border:0">ОВЗ</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <div class="content">
            <div class="content__container">
                <div class="logo__new-name">
                    <h1>Неделя памяти - <time>18.02.2021</time></h1>
                </div>
                <div class="home__content">
                    <div class="row__news row">
                        <div class="row__news-content">    
                            <div class="content-text">
                               
                                21 января 1943 года войсками Закавказского фронта Ставрополь был освобождён от немецко-фашистских захватчиков. Под властью гитлеровцев город находился 170 дней - с августа 1942.

                                27 января - День полного освобождения Ленинграда от фашистской блокады (1944 год) Города залечил раны. В их внешнем облике только памятники напоминают о том страшном времени. Нам не нужно смотреть на разрушенные здания и улицы - важно просто помнить.
                                    
                                Международный день памяти жертв Холокоста 27 января отмечают в честь освобождения в этот день в 1945 году узников польского концентрационного лагеря Освенцим. Среди них преобладали евреи и цыгане. Немало было участников движения Сопротивления (в основном поляков), советских военнопленных (преимущественно русских и украинцев).
                                    
                                <span class="hash-tag">#МЫПОМНИМ</span>
                                
                            </div>
                            <div class="content-image">
                                <ul>
                                    <li><span><img src="../img/new_1_1.jpeg" alt="alt"></span></li>
                                    <li><span><img src="../img/new_1_2.jpeg" alt="alt"></span></li>
                                    <li><span><img src="../img/new_1_3.jpeg" alt="alt"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>   
</main>
<!-- / BASE CONTENT -->

<!-- ARROW UP -->
<div id="arrow__up">
    <i class="fas fa-arrow-up"></i>
</div>
<!-- / ARROW UP -->

<!-- FOOTER -->
<footer id="footer">
    <div class="footer__container b-container">
        <div class="flex">
            <div class="flex-1 flexs">
                <div class="block-1 block">
                    <div class="mg-l">Полное наименование:</div>
                    <div class="mg-t">муниципальное бюджетное общеобразовательное учреждение средняя общеобразовательная школа №20 города Ставрополя</div>
                </div>
                <div class="block-2 block">
                    <div class="mg-l">Сокращенное наименование:</div>
                    <div class="mg-t">МБОУ СОШ №20 г. Ставрополя</div>
                </div>
                <div class="block-3 block">
                    <div class="mg-l">Юридический адрес:</div>
                    <div class="mg-t">355018, Российская Федерация, Ставропольский край, город Ставрополь, ул.Попова 16А</div>
                </div>
                <div class="block-4 block">
                    <div class="mg-l">Фактический адрес:</div>
                    <div class="mg-t">355018, Российская Федерация, Ставропольский край, город Ставрополь, ул.Попова 16А</div>
                </div>
                <div class="block-5 block">
                    <div class="mg-l">Филиалы:</div>
                    <div class="mg-t">отсутствуют</div>
                </div>
            </div>
            <div class="flex-2 flexs">
                <div class="block-1 block">
                    <a href="">Написать директору</a>
                </div>
                <div class="block-2 block">
                    <a href="">Для учителей</a>
                </div>
                <div class="block-3 block">
                    <a href="">Написать администратору сайта</a>
                </div>
            </div>
            <div style="border:0" class="flex-3 flexs">
                <div class="flex-1">
                    <div class="block-1 block">
                        <a href="http://education-26.ru/">Комитет образования администрации города Ставрополя</a>
                    </div>
                    <div class="block-2 block">
                        <a href="http://www.stavminobr.ru/">Министерство образования и молодежной политики Ставропольского края</a>
                    </div>
            </div>
        </div>
    </div>
    <div class="copy">
        <i class="far fa-copyright"></i> МБОУ СОШ№20 г.Ставрополь 2020
    </div>
</footer>
<!-- / FOOTER -->


<!-- jQuery and jQ-plugin -->
    <script src="../script/vendor/jQuery/jquery-3.3.1.min.js"></script>
    <!--<script src="./script/vendor/jQuery/jquery-plugin.js"></script>-->
<!-- / jQuery and jQ-plugin -->  

<!-- WEB-site scripts -->
    -<script src="../script/index.js"></script>
<!-- / WEB-site scripts -->

</body>
</html>