<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js ie ie9" lang="ru-Ru" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="no-js ie ie8" lang="ru-Ru" dir="ltr"><![endif]-->
<!--[if IE 7]><html class="no-js ie ie7" lang="ru-Ru" dir="ltr"><![endif]-->
<!--[if IE 6]><html class="no-js ie ie6" lang="ru-Ru" dir="ltr"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html class="no-js no-ie"  lang="ru" dir="ltr"><!--<![endif]-->
<head>

    <!-- SEO -->
        <title>Написать директору - МБОУ СОШ №20</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="Добро пожаловать на официальный сайт МБОУ СОШ№ 20 г.Ставрополя" />

        <link rel="canonical" href=""> 
    <!-- / SEO  -->

    <!-- The following makes older IEs (< IE7, IE8, IE9) work with new HTML5 tags. -->
        <!--[if lte IE 8]>
            <script src="https://www.mozilla.org/media/js/libs/html5shiv.98460818858d.js"></script>
            <link rel="stylesheet" type="text/css" href="./src/tools/css/index.min.css">
        <![endif]-->

        <!--[if lt IE 9]>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
            <script type="text/javascript" src="https://developer.mozilla.org/static/build/js/selectivizr.8bb9e662e963.js" charset="utf-8"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <![endif]-->
    <!-- / -->

    <!-- Include style web-site -->
        <link rel="stylesheet" href="../style/vars.css">
        <link rel="stylesheet" href="../style/keyframes.css">
        <link rel="stylesheet" href="../style/normaline.css">
        <link rel="stylesheet" href="../style/form.css">
        <link rel="stylesheet" href="../style/header.css">
        <link rel="stylesheet" href="../style/wrapper.css">
        <link rel="stylesheet" href="../style/footer.css">
        <link rel="stylesheet" href="../style/media.css">
    <!-- / Include style web-site -->

    <!-- Include JS&CSS libs/framework ... -->

        <!-- FONT -->
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
            <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">     
        <!-- / FONT -->

        <!-- Font-awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" />

        <!-- Animate-->
        <link rel="s tylesheet" href="../style/vendor/animate/animate.css">

        <!-- Colorbox Core Style -->
        <link rel="stylesheet" href="../style/vendor/colorbox/colorbox.css">

        <!-- Style-Switcher -->
        <script src="../script/vendor/styleswitch/styleswitch.js"></script>

        <!-- baguetteBox -->
        <script src="../script/vendor/baguetteBox/baguetteBox.min.js"></script>
        <link rel="stylesheet" href="../script/vendor/baguetteBox/baguetteBox.min.css">

    <!-- / Include JS&CSS libs ... -->
</head>
<body>

<!-- HEADER -->
<header id="header">
    <div class="header__container s-container">
        <div class="flex">
            <div class="flex-1"></div>
            <div class="flex-2">
                <ul>
                    <li><a href="../templates/report.html">НАПИСАТЬ ДИРЕКТОРУ</a></li>
                    <li><a href="">КОНТАКТЫ</a></li>
                    <li><a href="">О ШКОЛЕ</a></li>
                    <li class="search-li">
                        <input type="text" placeholder="Поиск по сайту..." name="search" id="search">
                        <input type="button" id="search-bth" name="submit" value="Найти">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header__container header__container-2 b-container">
        <nav class="header__nav header__nav-block">
            <div class="block">
                <div class="header__logo">
                    <span>
                        <img src="../img/logo_20.jpg" alt="Logo">
                        <img class="lenta" src="../img/28.png" alt="lenta">
                    </span>
                    <div>
                        Муниципальное образовательное учреждение средняя общеобразовательная школа №20
                    </div>
                </div>
                <div class="header__menu">
                    <ul>
                        <li><a href="../index.html" class="home">Главная</a></li>
                        <li class="n1">
                            <a href="">Сведения об ОО</a>
                            <ul class="popup__menu popup__menu-n1">
                                <li><a href="">Основные сведения</a></li>
                                <li><a href="">Документы</a></li>
                                <li><a href="">Образование</a></li>
                                <li><a href="">Образовательные стандарты</a></li>
                                <li><a href="">Вакантные места для приема</a></li>
                                <li><a href="">История школы</a></li>
                            </ul>
                        </li>
                        <li class="n2">
                            <a href="">ГИА</a>
                            <ul class="popup__menu popup__menu-n1">
                                <li><a href="">ОГЭ</a></li>
                                <li><a href="">ЕГЭ</a></li>
                                <li><a href="">Экзаменационные плакаты</a></li>
                                <li><a href="">Телефон горячей линии</a></li>
                                <li><a href="">ОВЗ</a></li>
                                <li><a href="">Видеоконсультации ЕГЭ</a></li>
                            </ul>
                        </li>
                        <li class="n3">
                            <a href="">Ученикам</a>
                            <ul class="popup__menu popup__menu-n1">
                                <li><a href="">Учебный процесс</a></li>
                                <li><a href="">После уроков</a></li>
                                <li><a href="">Памятки для учащихся</a></li>
                                <li><a href="">Достижения учащихся</a></li>
                                <li><a href="">Актуально!</a></li>
                            </ul>
                        </li>
                        <li class="n4">
                            <a href="">Родителям</a>
                            <ul class="popup__menu popup__menu-n1">
                                <li><a href="">Актуально!</a></li>
                                <li><a href="">Опросы и анкетирование</a></li>
                                <li><a href="">Памятки</a></li>
                                <li><a href="">Библиотека</a></li>
                                <li><a href="">Приём в первый класс</a></li>
                            </ul>
                        </li>
                        <li class="n5">
                            <a href="">Деятельность</a>
                            <ul class="popup__menu popup__menu-n1">
                                <li><a href="">ОРКиСЭ</a></li>
                                <li><a href="">Анкета о оценки качества</a></li>
                                <li><a href="">РПР / ВПР</a></li>
                                <li><a href="">Лето</a></li>
                            </ul>
                        </li>
                        <li class="n6"><a href="">Профсоюз</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- / HEADER -->

<!-- NAVIGATOR -->
<div id="navigator">
    <div class="navigator__container b-container">
        <a href="../index.html">Главная</a>
        <span class="nav__arrow"><i class="fas fa-angle-double-right"></i></span>
        <a href="">Написать директору</a>
    </div>
</div>
<!-- / NAVIGATOR -->

<!-- BASE CONTENT -->
<main id="wrapper">
    <div class="wrapper__container b-container">
        <aside class="aside">
            <div class="aside__block-1 aside__block">
                <h1>Все разделы</h1>
                <div class="aside__block-1-content aside__block-content">
                    <ul>
                        <li><a href="../index.html">Главная</a></li>
                        <li><a href="">Сведения об ООО</a></li>
                        <li><a href="">ГИА</a></li>
                        <li><a href="">Ученикам</a></li>
                        <li><a href="">Родителям</a></li>
                        <li><a href="">Питание</a></li>
                        <li><a href="">Мероприятия</a></li>
                        <li><a href="">Галерея</a></li>
                        <li><a href="">Деятельность</a></li>
                        <li><a href="">Аверс</a></li>
                        <li><a href="">Культура</a></li>
                        <li><a href="">COVID-19</a></li>
                        <li><a href="">Дорожная безопасность</a></li>
                        <li><a href="">Обучение детей-инвалидов</a></li>
                        <li><a href="">Профсоюз</a></li>
                        <li><a href="">Информатизация</a></li>
                        <li><a href="">Организация ОО в период пандемии</a></li>
                        <li><a href="" style="border:0">Профильное обучение</a></li>
                    </ul>
                </div>
            </div>
            <div class="aside__block-2 aside__block">
                <h1>Экзамены</h1>
                <div class="aside__block-2-content aside__block-content">
                    <ul>
                        <li><a href="">ОГЭ</a></li>
                        <li><a href="">ЕГЭ</a></li>
                        <li><a href="">Экзаменационные плакаты</a></li>
                        <li><a href="">Телефон горячей линии</a></li>
                        <li><a href="" style="border:0">ОВЗ</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <div class="content">
            <div class="content__container">
                <div class="logo__row-name">
                    <h1>Написать директору</h1>
                </div>
                <div class="home__content">
                    <div class="form__report">
                        <form enctype="multipart/form-data" action="" method="POST">
                            <div class="form__in">
                                <label for="name" class="user">
                                    <span class="exp__title">
                                        ФИО:
                                        <span>обязательно</span>
                                    </span>
                                    <input type="text" class="input" name="name" id="name">
                                </label>
                                <label for="phone" class="userphone">
                                    <span class="exp__title">
                                        Телефон:
                                        <span>обязательно</span>
                                    </span>
                                    <input type="number" class="input" name="phone" id="phone">
                                </label>
                                <label for="email" class="useremail">
                                    <span class="exp__title">
                                        Email:
                                        <span>обязательно</span>
                                    </span>
                                    <input type="email" class="input" name="email" id="email">
                                </label>
                                <label for="raport" class="userraport">
                                    <span class="exp__title">
                                        Сообщение:
                                        <span>обязательно</span>
                                    </span>
                                    <textarea name="raport" id="raport"></textarea>
                                </label>
                                <label for="accept" class="usertrue">
                                    <input type="checkbox" id="accept" name="accept" value="1">
                                    Я согласен(-на) с <span>условиями</span> использования.
                                </label>
                                <div class="form__submit">
                                    <input name="send" type="submit" id="send" value="Отправить" placeholder="Отправить">
                                </div>
                            </div>
                        </form>
                        <div class="form__info">
                            <h2>Важно! Порядок подачи и рассмотрения электронных обращений граждан:</h2>
                            <div>
                                Обращение, направленное на официальную почту МБОУ СОШ №20 г. Ставрополя sch_20@stavadm.ru, должно содержать фамилию, имя, отчество заявителя, почтовый адрес, по которому должен быть направлен ответ, контактный телефон, суть обращения (далее - Интернет-обращение). Интернет-обращение, поступившее по электронной почте, распечатывается, и в дальнейшем работа с ним ведется в установленном порядке в соответствии с Федеральным законом от 02.05.2006 г. N 59-ФЗ "О порядке рассмотрения обращений граждан Российской Федерации".

Основаниями для отказа в рассмотрении Интернет-обращения являются:

поступление дубликата уже принятого электронного сообщения (п.5 ст.11 Федерального закона от 02.05.2006 г. N 59-ФЗ "О порядке рассмотрения обращений граждан Российской Федерации");

содержание в электронном сообщении нецензурных либо оскорбительных выражений, угроз жизни, здоровью или имуществу должностного лица, а также членов его семьи (п.3 ст.11 Федерального закона от 02.05.2006 г. N 59-ФЗ "О порядке рассмотрения обращений граждан Российской Федерации").


Ответ заявителю на Интернет-обращение может направляться как в письменной форме, так и в форме электронного сообщения.

Заявителю гарантируется не разглашение без его согласия сведений, содержащихся в Интернет-обращении, а также сведений, касающихся частной жизни гражданина. Информация о персональных данных заявителей хранится и обрабатывается с соблюдением требований Российского законодательства о персональных данных.

Интернет-обращения представляются руководству МБОУ СОШ №20 г. Ставрополя для рассмотрения. На наиболее часто задаваемые вопросы периодически публикуются ответы руководителя МБОУ СОШ №20 г. Ставрополя . Ваш вопрос, заданный в Интернет-обращении, может быть опубликован на сайте в обезличенной форме.

Обращения граждан также принимаются по телефону +7(8652) 71-41-43 (Пн-пт с 8.00-17.00)
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>   
</main>
<!-- / BASE CONTENT -->

<!-- ARROW UP -->
<div id="arrow__up">
    <i class="fas fa-arrow-up"></i>
</div>
<!-- / ARROW UP -->

<!-- FOOTER -->
<footer id="footer">
    <div class="footer__container b-container">
        <div class="flex">
            <div class="flex-1 flexs">
                <div class="block-1 block">
                    <div class="mg-l">Полное наименование:</div>
                    <div class="mg-t">муниципальное бюджетное общеобразовательное учреждение средняя общеобразовательная школа №20 города Ставрополя</div>
                </div>
                <div class="block-2 block">
                    <div class="mg-l">Сокращенное наименование:</div>
                    <div class="mg-t">МБОУ СОШ №20 г. Ставрополя</div>
                </div>
                <div class="block-3 block">
                    <div class="mg-l">Юридический адрес:</div>
                    <div class="mg-t">355018, Российская Федерация, Ставропольский край, город Ставрополь, ул.Попова 16А</div>
                </div>
                <div class="block-4 block">
                    <div class="mg-l">Фактический адрес:</div>
                    <div class="mg-t">355018, Российская Федерация, Ставропольский край, город Ставрополь, ул.Попова 16А</div>
                </div>
                <div class="block-5 block">
                    <div class="mg-l">Филиалы:</div>
                    <div class="mg-t">отсутствуют</div>
                </div>
            </div>
            <div class="flex-2 flexs">
                <div class="block-1 block">
                    <a href="../templates/report.html">Написать директору</a>
                </div>
                <div class="block-2 block">
                    <a href="">Для учителей</a>
                </div>
                <div class="block-3 block">
                    <a href="">Написать администратору сайта</a>
                </div>
            </div>
            <div style="border:0" class="flex-3 flexs">
                <div class="flex-1">
                    <div class="block-1 block">
                        <a href="http://education-26.ru/">Комитет образования администрации города Ставрополя</a>
                    </div>
                    <div class="block-2 block">
                        <a href="http://www.stavminobr.ru/">Министерство образования и молодежной политики Ставропольского края</a>
                    </div>
            </div>
        </div>
    </div>
    <div class="copy">
        <i class="far fa-copyright"></i> МБОУ СОШ№20 г.Ставрополь 2021
    </div>
</footer>
<!-- / FOOTER -->


<!-- jQuery and jQ-plugin -->
    <script src="../script/vendor/jQuery/jquery-3.3.1.min.js"></script>
    <!--<script src="./script/vendor/jQuery/jquery-plugin.js"></script>-->
<!-- / jQuery and jQ-plugin -->  

<!-- WEB-site scripts -->
    <script src="../script/index.js"></script>
    <script src="../script/baguetteBox.js"></script>
<!-- / WEB-site scripts -->

</body>
</html>